---
import CommonHead from '@/components/CommonHead.astro';
import '../styles/base.css';
import { Faq } from '@/components/Faq.tsx';
import Menu from '@/components/Menu.astro';
import Header from '@/components/Header.astro';
import CommonBody from '@/components/CommonBody.astro';
---

<html class="bg-paper">
  <head>
    <CommonHead />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <CommonBody>
    <Menu />
    <div class="w-full max-w-prose mx-auto flex items-center justify-center">
      <Faq client:load />
    </div>
  </CommonBody>
</html>
