---
import CommonHead from '@/components/CommonHead.astro';
import '../styles/base.css';
import CommonBody from '@/components/CommonBody.astro';
import Menu from '@/components/Menu.astro';
import Header from '@/components/Header.astro';
import flowerCircle from '../images/engagement-photos/banner.jpg';
import { Image } from 'astro:assets';
import { ImageModal } from '@/components/ImageModal';
const images = await Astro.glob('/src/images/engagement-photos/*').then(files => {
  return files.map(file => file.default);
});
---

<html lang="en" class="bg-paper">
  <head>
    <meta charset="utf-8" />
    <CommonHead />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <CommonBody>
    <!-- <Header /> -->
    <div>
      <div class="opacity-80 sticky top-0 bg-white w-full flex flex-col">
        <div class="flex flex-row h-auto justify-center md:px-40 px-10 gap-10 items-center">
          <div class="hidden md:flex h-0 border-t border-black flex-1 my-auto bg-black"></div>
          <h1 class="md:text-5xl text-4xl text-center md:py-10 py-4 font-serif">Stephanie & Coulton</h1>
          <div class="hidden h-0 border-t border-black md:flex flex-1 my-auto bg-black"></div>
        </div>
        <Menu />
      </div>
      <Image
        loading="eager"
        src={flowerCircle}
        class="h-full min-h-96 aspect-video lg:-mt-52 flex flex-col object-bottom object-cover"
        alt="A floral wreath with a circle in the center."
      />
    </div>
    <!-- write a carousel like grid -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-full">
      {
        images.map(file => (
          <ImageModal client:visible>
            <Image
              loading="lazy"
              src={file}
              class="w-full h-full object-center object-contain"
              alt="A floral wreath with a circle in the center."
              slot="modalImage"
            />
            <Image
              loading="lazy"
              src={file}
              class="md:h-72 h-40 w-auto object-center mx-auto object-cover"
              alt="A floral wreath with a circle in the center."
              slot="astroImage"
            />
          </ImageModal>
        ))
      }
    </div>
  </CommonBody>
</html>
