---
import Header from '../components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fraser Ever After</title>
	</head>
	<body class="h-screen w-full block">
		<div class="bg-paper w-full h-full">
			<Header />
		</div>
	</body>
</html>
