---
import CommonHead from '@/components/CommonHead.astro';
import Home from '@/components/Home.astro';
import Menu from '@/components/Menu.astro';
import Header from '../components/Header.astro';
import '../styles/base.css';
import CommonBody from '@/components/CommonBody.astro';
import SaveTheDate from '@/components/SaveTheDate.astro';
---

<html lang="en" class="bg-paper">
  <head>
    <meta charset="utf-8" />
    <CommonHead />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <CommonBody>
    <!-- <Header /> -->
    <!-- <Menu /> -->
    <div class="flex flex-col items-center align-middle justify-between">
      <SaveTheDate />
    </div>
  </CommonBody>
</html>
