---
import CommonHead from '@/components/CommonHead.astro';
import '../../styles/base.css';
import Header from '@/components/Header.astro';
import Menu from '@/components/Menu.astro';
import CommonBody from '@/components/CommonBody.astro';
const errors = { inviteId: '' };
if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();
    const inviteId = data.get('invite-id');
    const isUUID = String(inviteId).match(
      /^[0-9a-f]{8}-[0-9a-f]{4}-[0-5][0-9a-f]{3}-[089ab][0-9a-f]{3}-[0-9a-f]{12}$/i,
    );
    if (typeof inviteId !== 'string' || !isUUID) {
      errors.inviteId += 'Invalid invite code.';
    }
    const hasErrors = Object.values(errors).some(msg => msg);
    if (!hasErrors) {
      return Astro.redirect('/');
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<html lang="en" class="bg-paper">
  <head>
    <CommonHead />
    <script>
      // Find all buttons with the `alert` class on the page.
      import { inviteAtom } from '@/components/inviteStore.ts';
      const buttonSubmit = document.getElementById('invite-button');
      // Handle clicks on each button.
      if (buttonSubmit !== null) {
        buttonSubmit.addEventListener('click', () => {
          let inviteId = document.getElementById('invite-id') as HTMLInputElement;

          if (inviteId !== null) {
            const isUUID = String(inviteId.value).match(
              /^[0-9a-f]{8}-[0-9a-f]{4}-[0-5][0-9a-f]{3}-[089ab][0-9a-f]{3}-[0-9a-f]{12}$/i,
            );
            if (typeof inviteId.value !== 'string' || !isUUID) {
              alert('Invalid invite code.');
            } else {
              window.location.href = '/invite/' + String(inviteId.value).toLowerCase();
            }
          } else {
            alert('Please enter an invite code.');
          }
        });
      }
      const storedValue = inviteAtom.get();
      const element = document.getElementById('invite-id');
      if (element !== undefined) {
        element.value = storedValue;
      }
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <CommonBody>
    <Menu />
    <main class="flex mt-10 flex-col items-center w-full px-10">
      <div class="max-w-prose gap-5 w-72 flex flex-col py-10 items-center">
        <div class="w-full">
          <label for="invite code" class="block text-sm font-medium leading-6 text-gray-900">Invite Code</label>
          <div class="mt-2">
            <input
              type="text"
              name="invite-id"
              id="invite-id"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rosette-600 sm:text-sm sm:leading-6"
              placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            />
          </div>
        </div>
        <button
          type="button"
          id="invite-button"
          class="rounded-full bg-white w-52 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-500 hover:bg-gray-100 max-w-sm px-10 text-center"
          >Continue</button
        >
        {
          Astro.url.searchParams.get('error') === '1' && (
            <div class="rounded-md bg-red-50 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <div class="ml-3">
                  <h3 class="text-sm font-medium text-red-800">Invalid Invite Code</h3>
                </div>
              </div>
            </div>
          )
        }
      </div>
    </main>
  </CommonBody>
</html>
