---
import { ViewTransitions } from 'astro:transitions';
---

<meta name="generator" content={Astro.generator} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Stephanie and Coulton's Wedding Website</title>
<ViewTransitions />
<script>
  import '../scripts/menu.ts';
</script>
