---
---
  <div class="flex w-auto mx-auto gap-10 flex-col max-w-prose items-center pb-20">
    <div class="flex flex-col w-full gap-1 items-center justify-center">
      <h1 class="text-5xl md:text-8xl text-slate-600 font-bold pb-4 leading-tight font-serif ">Stephanie</h1>
      <h1 class="text-3xl md:text-6xl text-slate-600 font-bold leading-tight font-serif  ">&</h1>
      <h1 class="text-5xl md:text-8xl text-slate-600 font-bold leading-tight font-serif ">Coulton</h1>
    </div>
    <div class="flex gap-4">
      <div class="rounded-full w-4 h-4 bg-slate-400"></div>
      <div class="rounded-full w-4 h-4 bg-slate-400"></div>
      <div class="rounded-full w-4 h-4 bg-slate-400"></div>
      <div class="rounded-full w-4 h-4 bg-slate-400"></div>
      <div class="rounded-full w-4 h-4 bg-slate-400"></div>
    </div>
    <!-- <Image src={proposal} class=" rounded-full h-96 w-96 object-cover " alt="A bird sitting on a nest of eggs."/> -->
    <div class="flex gap-1 border border-gray-400 p-10 w-full md:rounded-lg drop-shadow-lg bg-white flex-col items-center justify-around">
    <p class="text-lg md:text-xl text-black">Join us as we celebrate our love</p>
    <p class="text-sm text-black md:text-base">Sunday, August 11, 2024</p>
    <p class="text-sm text-black md:text-base">Ceremony starts at 3:00 PM</p>
    <p class="text-sm text-black md:text-base">Venue: Flores & Pine</p>
    <div class="pt-5">
      <a href="invite" class="rounded-full bg-white py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-500 hover:bg-gray-100 max-w-sm w-auto px-10 text-center">RSVP Now</a>
    </div>
    </div>
  </div>