---
---
<div class="flex flex-row md:gap-10 gap-3 sm:text-base text-sm border-b mb-10 border-black pb-5 w-full items-center justify-center">
  <a href="/">Home</a>
  <a href="/invite">RSVP</a>
  <a href="/registry">Registry</a>
  <a href="/venue">Venue</a>
  <a href="/faq">FAQ</a>
</div>