---
import CommonHead from '@/components/CommonHead.astro';
import '../../styles/base.css';
import { Faq } from '@/components/Faq.tsx';
import Menu from '@/components/Menu.astro';
import CommonBody from '@/components/CommonBody.astro';
import { InviteState } from '@/components/InviteState.tsx';
const { invite } = Astro.params;
const getInvite = async () => {
  const res = await fetch(`${import.meta.env.PUBLIC_API_ENDPOINT}/api/invite/${invite}`, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  });
  return await res.json();
};
let inviteData = [];
try {
  inviteData = await getInvite();
  if (inviteData.length === 0) {
    return Astro.redirect('/faq');
  }
} catch (e) {
  return Astro.redirect('/faq');
}
---

<html class="bg-paper">
  <head>
    <CommonHead />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <CommonBody>
    <Menu />
    <InviteState client:only invite={`${invite}`} />
    <div class="flex min-w-0 mx-auto">
      <Faq client:load />
    </div>
  </CommonBody>
</html>
