---
import CommonHead from '@/components/CommonHead.astro';
import CommonBody from '@/components/CommonBody.astro';
import Menu from '@/components/Menu.astro';
import Donate from '@/components/Donate.astro';
import Header from '@/components/Header.astro';
import '../../styles/base.css';
---

<html lang="en" class="bg-paper">
  <head>
    <CommonHead />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <CommonBody>
    <Header />
    <Menu />
    <div class="block mt-10">
      <!-- <Donate /> -->
    </div>
  </CommonBody>
</html>
